{:paths ["src/main/clojure" "resources"]
 :deps  {org.clojure/clojure    {:mvn/version "1.10.3"}
         org.clojure/core.cache {:mvn/version "1.0.217"}

         ;; UI
         cljfx/cljfx {:mvn/version "1.7.16"}

         ;; Webservice Client
         org.apache.avro/avro-grpc {:mvn/version "1.11.0"}
         io.grpc/grpc-stub         {:mvn/version "1.42.0"}
         io.grpc/grpc-netty-shaded {:mvn/version "1.42.0"}

         ;; Config and system
         integrant/integrant     {:mvn/version "0.8.0"}
         com.walmartlabs/dyn-edn {:mvn/version "0.2.0"}
         meta-merge/meta-merge   {:mvn/version "1.0.0"}

         ;; Logging
         io.pedestal/pedestal.log       {:mvn/version "0.5.9"}
         ch.qos.logback/logback-classic {:mvn/version "1.2.6" :exclusions [org.slf4j/slf4j-api]}
         org.slf4j/jul-to-slf4j         {:mvn/version "1.7.32"}
         org.slf4j/jcl-over-slf4j       {:mvn/version "1.7.32"}
         org.slf4j/log4j-over-slf4j     {:mvn/version "1.7.32"}}
 :aliases
 {:dev      {:extra-paths ["dev" "test" "target/classes"]
             :extra-deps  {integrant/repl {:mvn/version "0.3.2"}
                           eftest/eftest  {:mvn/version "0.5.9"}}
             :jvm-opts    ["-Dlogback.configurationFile=./dev/logback-dev.xml"]}
  :test     {:extra-paths ["test"]
             :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}
                           io.github.cognitect-labs/test-runner
                           {:git/tag "v0.5.0" :git/sha "48c3c67"}}}
  :run      {:main-opts ["-m" "com.onote.example.pizza-delivery-ui"]}
  :build    {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.5.2" :git/sha "8f75b81"}
                          org.apache.avro/avro-compiler    {:mvn/version "1.10.2"}}
             :ns-default build}
  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts  ["-m" "antq.core"]}}}
