{:env/env          #dyn/keyword #dyn/prop ["ENVIRONMENT" "dev"]
 :env/development? #ig/ref :env/env
 :cljfx/context    {:client #ig/ref :grpc/client}
 :cljfx/app        {:context #ig/ref :cljfx/context}
 :grpc/client      {:host #dyn/prop ["GRPC_CLIENT_HOST" "localhost"]
                    :port #dyn/long #dyn/prop ["GRPC_CLIENT_PORT" "9999"]}}
